header{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 35px;
     font-style: inherit;
     color: rgb(239, 235, 229);
     background-color: rgb(87, 137, 182);
     padding: 15px;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content:center;
    list-style: none;
    padding: 0 15px;
    color: rgb(92, 34, 34);
    font-size: 30px;
    gap:35px;
}
{
    
}
  
.search{
    padding: 20px;
    font-size: 50px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}  

 section{
    box-sizing: border-box;
    gap:  30px;
    padding: 5px;
 }
 h2{
    text-align: center;
    padding: 0;
 }
 

 #hero{
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 20px;
    color: black;
}
#hero h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}
#hero p{
    font-size: 20px;
    margin-bottom: 10px;
}
button{
    border-radius: 5px;
    background-color: rgb(65, 65, 135);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
 .btn{
    display: flex;
    justify-content: center;
    margin-left: 245px;    
 }

 .feature{
    display: flex;
    justify-content: center;
    color: wheat;
    gap:30px;
    padding: 30px;
 }

.feature-box{
    background-color: rgb(30, 73, 73);
    border: 20px solid rgb(233, 237, 239);
    border-radius: 10px;
    padding: 10px;
}